<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Villain</title>
</head>
<body>
  <h1>Create a new villain!</h1>
  <form action="/villains/" method="POST">
    <label for="villain-name">Villain Name: </label>
    <input type="text" id="villain-name" name="villain" />
    <br/>
    <label for="movie-name">Movie: </label>
    <input type="text" id="movie-name" name="movie" />
    <br/>
    <button type="submit">Save!</button>
  </form>
</body>
</html>
